<!-- <div id = "article "> </div> -->
<!-- <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>

<table cellspacing="5" border="0" cellpadding="0">

<tr valign="top" align="left">

<td width="1000"><p> -->

<center>



<div class = 'brand'
  <center>
    <a href="http://s28.photobucket.com/user/bosskayla/media/bannger_zpsc05c0c93.jpg.html" target="_blank"><img src="http://i28.photobucket.com/albums/c222/bosskayla/bannger_zpsc05c0c93.jpg" border="0" alt=" photo bannger_zpsc05c0c93.jpg" height="200" width="800"/></a>
    <a href="http://s28.photobucket.com/user/bosskayla/media/c44acf77-08e0-4ad6-819e-d229ed4e7fe0_zps0a4fcfb5.jpg.html" target="_blank"><img src="http://i28.photobucket.com/albums/c222/bosskayla/c44acf77-08e0-4ad6-819e-d229ed4e7fe0_zps0a4fcfb5.jpg" border="0" alt=" photo c44acf77-08e0-4ad6-819e-d229ed4e7fe0_zps0a4fcfb5.jpg"/></a>
  </center>
</div>


<!-- <%=erb ("/posts/gettingartsy").to_sym  %> -->
</br></br>
<!-- <%=erb ("/posts/sinatra-is-hard").to_sym  %> -->
</br>
<!-- <%=erb ("/posts/pairing").to_sym  %> -->







</center>
<!--

</p></td>

<td width="1" bgcolor="#707070"><BR></td>

<td width="150" valign="top" align="left">

<p>


  <h3> Read on</h3>
</br>
<center>
  <% @posts.each do |post| %>
      <ul style="list-style-type:circle"><a href = "<%= post.url %>"><%= post.title %></a></ul>
    </br>
  <% end %></p>
</center>


</td>

</tr>

</table> -->
